@import "./tailwind.css";
@plugin "@tailwindcss/typography";

/* Reset */
* {
  box-sizing: border-box;
}

/* Page Transition Animation */
#page-content {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}
body.page-is-transitioning #page-content {
  opacity: 0;
}

/* BlockNote rendered HTML */
.bn-block-content p.bn-inline-content:empty {
  height: 1em;
}

.bn-block-content a {
  text-decoration: underline;
  font-weight: bold;
  color: #7c3aed;
}

.bn-block-content a:hover {
  color: #5b21b6;
}

/* BlockNote editor preview */
.preview .bn-editor {
  padding-inline: 0px;
}

.preview .bn-default-styles {
  font-family: Poppins, sans-serif;
}

/* offset for anchor link */
h2.anchor {
  padding-top: 140px;
  margin-top: -140px;
}
