@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --gradient: #3c83f6;

    --background: 222.2 84% 4.9%;
    --foreground: 231 9.1% 98%;

    --muted: 231 45.5% 18%;
    --muted-foreground: 231 9.1% 56%;

    --popover: 231 46.8% 7.8%;
    --popover-foreground: 231 9.1% 98%;

    --card: 231 46.8% 7.8%;
    --card-foreground: 231 9.1% 98%;

    --border: 231 45.5% 18%;
    --input: 231 45.5% 18%;

    --primary: 231 91% 60%;
    --primary-foreground: 231 9.1% 98%;

    --secondary: 231 45.5% 18%;
    --secondary-foreground: 231 9.1% 98%;

    --accent: 231 45.5% 18%;
    --accent-foreground: 231 9.1% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 231 9.1% 98%;

    --ring: 231 91% 60%;
    --radius: 0.5rem;
  }

  .dark {
    --gradient: #3c83f6;

    --background: 222.2 84% 4.9%;
    --foreground: 231 9.1% 98%;

    --muted: 231 45.5% 18%;
    --muted-foreground: 231 9.1% 56%;

    --popover: 231 46.8% 7.8%;
    --popover-foreground: 231 9.1% 98%;

    --card: 231 46.8% 7.8%;
    --card-foreground: 231 9.1% 98%;

    --border: 231 45.5% 18%;
    --input: 231 45.5% 18%;

    --primary: 231 91% 60%;
    --primary-foreground: 231 9.1% 98%;

    --secondary: 231 45.5% 18%;
    --secondary-foreground: 231 9.1% 98%;

    --accent: 231 45.5% 18%;
    --accent-foreground: 231 9.1% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 231 9.1% 98%;

    --ring: 231 91% 60%;
    --radius: 0.5rem;
  }
}

@layer base {
  html[data-theme="admin"] {
    --color-esther: 34, 39, 46;
    --color-maximus: 45, 51, 59;
    --color-linx: 55, 62, 71;
  }

  html[data-theme="neon"] {
    --color-esther: 20, 61, 42;
    --color-maximus: 13, 82, 66;
    --color-linx: 20, 82, 11;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    @apply font-Poppins;
    font-feature-settings:
      "rlig" 1,
      "calt" 1;
  }
  ul,
  ol {
    margin: revert;
    padding: revert;
  }

  ::-webkit-scrollbar {
    width: 4px;
  }

  ::-webkit-scrollbar-track {
    @apply rounded-xl bg-background;
  }

  ::-webkit-scrollbar-thumb {
    @apply rounded-xl bg-primary;
  }
}

@layer components {
  .sidebar-item {
    @apply flex flex-row items-center space-x-4 rounded-lg p-2 text-sm font-medium text-secondary-foreground transition-colors hover:bg-secondary;
    &.active {
      @apply bg-primary text-primary-foreground;
    }
  }

  .title {
    @apply text-3xl font-semibold text-secondary-foreground transition-colors;
  }

  .btn-ghost {
    @apply flex h-10 flex-shrink-0 items-center justify-center gap-x-2 rounded-lg p-2 text-secondary-foreground/40 transition-colors hover:bg-secondary hover:text-secondary-foreground/50;
  }
}
