@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --gradient: #3c83f6;

    --background: 210 40% 96.1%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 10% 98%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;

    --radius: 0.5rem;
  }

  .dark {
    --gradient: #3c83f6;

    --background: 222.2 84% 4.9%;
    --foreground: 231 9.1% 98%;

    --muted: 231 45.5% 18%;
    --muted-foreground: 231 9.1% 56%;

    --popover: 231 46.8% 7.8%;
    --popover-foreground: 231 9.1% 98%;

    --card: 231 46.8% 7.8%;
    --card-foreground: 231 9.1% 98%;

    --border: 231 45.5% 18%;
    --input: 231 45.5% 18%;

    --primary: 231 91% 60%;
    --primary-foreground: 231 9.1% 98%;

    --secondary: 231 45.5% 18%;
    --secondary-foreground: 231 9.1% 98%;

    --accent: 231 45.5% 18%;
    --accent-foreground: 231 9.1% 98%;

    --destructive: 0 100% 63.9%;
    --destructive-foreground: 231 9.1% 98%;

    --ring: 231 91% 60%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    @apply font-Poppins;
    font-feature-settings:
      "rlig" 1,
      "calt" 1;
  }
  ul,
  ol {
    margin: revert;
    padding: revert;
  }

  ::-webkit-scrollbar {
    height: 4px;
    width: 4px;
  }

  ::-webkit-scrollbar-track {
    @apply rounded-xl bg-background;
  }

  ::-webkit-scrollbar-thumb {
    @apply rounded-xl bg-primary;
  }
}

@layer components {
  .sidebar-item {
    @apply flex flex-row items-center space-x-4 rounded-lg p-2 text-sm font-medium text-secondary-foreground transition-colors hover:bg-secondary;
    &.active {
      @apply bg-primary text-primary-foreground;
    }
  }

  .title {
    @apply text-3xl font-semibold text-secondary-foreground transition-colors;
  }

  .btn-ghost {
    @apply flex h-10 flex-shrink-0 items-center justify-center gap-x-2 rounded-lg p-2 text-secondary-foreground/40 transition-colors hover:bg-secondary hover:text-secondary-foreground/50;
  }
}
